body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 150px;
}

.screen{
    display: grid;
    columns: repeat(40, auto);
    height: 50vh;
    width: 50vh;
    border-style: solid;
    border-color: black;
    box-shadow: 4px 4px lightgray;
}

#screen2{
    background-color: white;
    border-style: none;
    box-shadow: none;
}

